#NavBGcolor{
    background-color: #898952;
    background-color: #B2945B;
    background-color: #D0E562;
    background-color: #B6D369;
    background-color: #93C48B;
    background-color: #2E2C2F;

}